@keyframes animationName {
    0% {
      background: rgba(0,50,150,.8);
    }
    50% {
      background: rgba(0,50,150,1);
    }
    100% {
      background: rgba(0,50,150,.8);
    }
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* animation: animationName 2s infinite; */
  }
  
  body.login [class^=App-root-] {
    background-image: url("/img/world-map.png");
  }
  
  .default-text {
    color: white !important;
    font-family: 'Montserrat' !important;
  }
  .nav-text {
    font-size: 14 ;
  }
  .title-bar {
    height: 115;
    width: '50%';
  }
  .space-between {
    display: flex;
    justify-content:space-between;
    padding-bottom: 0 !important;
  }
  .bgcolorPaper {
    background-color: red !important;
  }
  .flex {
    display: flex;
    flex-direction: column !important;
  }
  .fix-padding {
    margin-left: -125px;
  }