
// 
// breadcrumb.scss
//
.breadcrumb {
    padding-top: 0px;
    font-size: 1.25rem;
    margin: 0px;
}

// Breadcrumb item arrow
.breadcrumb-item {
    > a {
        color: $gray-700;
    }
    +.breadcrumb-item {
        padding-left: 3px;
        &::before {
            padding-right: 3px;
            font-family: "Material Design Icons";
        }
    }
}
  
@media only screen and (max-width: 800px) {
    .breadcrumb {
        padding-top: 0px;
        font-size: 1.1rem;
        margin: 0px;
    }
    
}

@media only screen and (max-width: 600px) {
    .breadcrumb {
        padding-top: 0px;
        font-size: 0.8rem;
        margin: 0px;
    }
    
}